asgiref==3.4.1
certifi==2022.12.7
charset-normalizer==2.0.12
Django==3.2.18
django-environ==0.9.0
environ==1.0
idna==3.4
pexpect==4.8.0
pkg-resources==0.0.0
ptyprocess==0.7.0
python-environ==0.4.54
pytz==2022.7.1
requests==2.27.1
sqlparse==0.4.3
Strip==0.0.1.dev14
stripe==5.2.0
typing-extensions==4.1.1
urllib3==1.26.14
